body{
    margin: 0;
}
.background-1{
    background: linear-gradient(#27374D, #526D82);
    width: 100%;
    margin: 0;
}
.background-2{
    background: linear-gradient(#526D82, #9DB2BF)
}
.container-hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
.container-hero p, h1{
    justify-content: center;
    align-self: center;
    color: #DDE6ED;
    
}
h1{
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 70px;
    font-family: 'Russo One', sans-serif;;
}
.container-hero p{
    margin-top: 0;
    font-size: 20px;
}
.white{
    align-self: flex-end;
    transform: rotate(-50deg);
    padding-right: 100px;
}

.black{
    transform: rotate(-140deg);
    padding-top: 100px;
    padding-right: 100px;
}
.icon{
    height: 90px;
    width: 90px;
}
.code{
    padding-top: 150px;
    height: 250px;
    width: 200px; 
    align-self: flex-end;
}
.selfie{
    height: 200px;
    width: 200px;
    object-fit:cover;
    border-radius: 50%;
}

.container{
    display: flex;
    flex-direction:column ;
    align-items: center;
    align-content: center;
    height: 500px;
    padding-top: 100px ;
}

.container p{
    color:#27374D;
    width: 40%;
    text-align: center;
}
h2{
    font-family: 'Handlee', cursive;
    font-size: 40px;
    margin-bottom: 10px; 
}
p{
    font-family: 'Handlee', cursive; 
    font-weight: 600;
    font-size: 20px;
}
.background-3{
    background-color: #9DB2BF;
}

ul{
    list-style: none;
}
li{
    padding: 10px;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Handlee', cursive; 
}

.office{
    height: 10px;
    width: 200px;
    background-color: #27374D;
    border-radius: 10px;
}

.HTML{
    height: 10px;
    width: 170px;
    background-color: #27374D;
    border-radius: 10px;
}
.python{
    height: 10px;
    width: 160px;
    background-color: #27374D;
    border-radius: 10px;
}

.CSS{
    height: 10px;
    width: 160px;
    background-color: #27374D;
    border-radius: 10px;
}

button{
    font-size: 20px;
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    border-color: #27374D;
    box-shadow: 3px 3px 5px  #27374D;
    background-color: #27374D;
}
button:hover{
    background-color: #DDE6ED;
}

footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #27374D;
    align-items: center;
    justify-content: center;
    color: #DDE6ED;
}

.copyrigth{
    font-size: 13px;
    padding-top: 30px;
}

a:link{
    text-decoration: none;
    color: rgba(221, 230, 237, 60%);
    padding: 10px;
    font-size: 18px;
}
a:visited{
    text-decoration: none;
    color:  rgba(221, 230, 237, 60%);
}
a:hover{
    color: rgb(221, 230, 237);
}

.links{
    display: inline-flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

#boton:link{
    font-weight: bold;
    color: #ffffff  ; 
}
#boton:visited{
    font-weight: bold;
    color: #ffffff ; 
}
#boton:hover{
    color: #27374D;
}

@media (max-width: 451px) {
    .container-hero p,h2{
        justify-content: center;
        align-self: flex-start;
        color: #DDE6ED;
        
    }
    
}

